:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-extra-light: #EEEEEE;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-light: #F2F2F2;
  --basic-grey: #EBEBEB;
  --basic-dark-grey: #A9A9A9;
  --basic-light-beige: #E5E5E5;
  --basic-middle-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-middle-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-neutral: #666666;
  --range-toggle: #ABABAB;
  --focus-logo-academy: #BDBBBC;
  --opacity-black: rgba(0, 0, 0, 0.3);
  --opacity-white: rgba(255, 255, 255, 0.3);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  background-color: var(--basic-white);
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Main header */

.main-header {
  width: 1200px;
  min-height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header-main-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 531px;
  top: 0;
}

.main-header nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  margin-left: 72px;
  margin-right: 72px;
}

.menu li {
  width: 228px;
}

.menu li:nth-child(2) {
  margin-right: 148px;
}

.menu li:nth-child(1),
.menu li:nth-child(2) {
  text-align: left;
}

.menu li:nth-child(3),
.menu li:nth-child(4) {
  text-align: right;
}

.menu a {
  font-weight: bold;
}

.menu a:hover {
  color: var(--basic-blue);
}

.menu a:focus {
  color: var(--opacity-black);
  outline: none;
}

.menu a:active {
  color: var(--basic-brown);
}

.main-container {
  background-color: var(--basic-white);
}

.main {
  width: 1200px;
  height: 509px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}

.main img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 77px;
  padding-bottom: 20px;
}

/* Main */

.about {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 51px;
}

.about b {
  display: block;
  width: 470px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.about p {
  width: 529px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 17px;
  color: var(--basic-dark);
  line-height: 26px;
  text-align: center;
}

.discription {
  width: 400px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 30px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.discription:nth-child(2) {
  padding-top: 50px;
}

.discription h2 {
  font-size: 21px;
  font-weight: bold;
  padding-left: 125px;
  padding-right: 124px;
  margin-top: 0px;
}

.discription p {
  width: 304px;
  margin-top: 25px;
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
}

.benefit-img {
  object-fit: contain;
}

.benefit-subitems-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.benefit-subitems-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 400px;
  height: 100%;

}

.benefit-subitems-item svg {
  order: -1;
  margin-bottom: 28px;
}

.benefit-subitems-item p {
  margin: 0px;
  color: var(--basic-dark);
}

.benefit-subitems-item b {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}

.house {
  padding-top: 60px;
  padding-bottom: 82px;
}

.food {
  padding-top: 61px;
  padding-bottom: 82px;
}

.souvenirs {
  padding-top: 55px;
  padding-bottom: 81px;
}

.house b {
  padding-right: 3px;
}

.food b {
  padding-right: 3px;
}

.house p {
  width: 254px;
}

.food p {
  width: 297px;
}

.souvenirs p {
  width: 270px;
}

.benefit-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 256px;
  position: relative;
  z-index: 2;
}

.item-list {
  background-color: var(--basic-extra-light);
  min-height: 256px;
}

.item-list h2 {
  padding-left: 139px;
  padding-right: 139px;
  padding-top: 31px;
}

.item-list p {
  color: var(--basic-dark);
  margin-top: 25px;
}

.item-list p:nth-child(3) {
  padding-left: 67px;
  padding-right: 72px;
}

.item-list .benefit-item {
  width: 400px;
  height: 100%;
}

.benefit-item:nth-child(3) p:nth-child(3) {
  padding-left: 71px;
}

.benefit-item {
  text-align: center;
}

.benefit-item h2 {
  font-size: 21px;
  font-weight: bold;
}

.map {
  line-height: 24px;
  text-align: center;
  position: relative;
}

.map-label {
  height: 233px;
  padding-top: 58px;
  position: relative;
  z-index: 2;
  background-color: var(--basic-white);
}

.map-label b {
  font-size: 30px;
  font-weight: bold;
}

.map-label p {
  margin-top: 25px;
  color: var(--basic-dark);
}

.map-frame {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  height: 594px;
  width: 1199px;
  margin-top: 60px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 568px;
}

.search-form {
  width: 568px;
  min-height: 395px;
  padding: 55px;
  z-index: 1;
  position: absolute;
  bottom: 197px;
  left: 316px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-show {
  display: block;
  z-index: 1;
  animation: bounce 0.8s;
}

.modal-hide {
  display: block;
  z-index: -1;
}

.modal-error {
  animation: shake 0.6s;
}

.show-modal-button {
  width: 568px;
  min-height: 86px;
  position: absolute;
  bottom: 594px;
  left: 316px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  padding: 0px;
  border: none;
  box-shadow: 0px;
  z-index: 2;
}

.show-modal-button:hover {
  background-color: var(--basic-middle-brown);
}

.show-modal-button:focus {
  color: var(--opacity-white);
  background-color: var(--basic-dark-brown);
  outline: none;
}

.search-form p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px;
  padding-bottom: 30px;
}

.search-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  min-width: 112px;
  text-align: start;
}

.search-form input:nth-child(1),
.search-form input:nth-child(2) {
  width: 307px;
  height: 38px;
  text-align: start;
  padding-left: 13px;
}

.search-form input,
.search-form input {
  text-align: center;
}

.search-form input[type="text"]::-webkit-input-placeholder {
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-form input[type="text"]:-ms-input-placeholder {
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-form input[type="text"]::-ms-input-placeholder {
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-form input[type="text"]::placeholder {
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.count>label:nth-of-type(2) {
  padding-left: 51px;
  padding-right: 28px;
}

.calendar {
  width: 39px;
  height: 38px;
  background-color: var(--basic-light);
  border: none;
  outline: none;
}

.calendar:hover path {
  fill: var(--basic-black);
}

.calendar:focus path {
  fill: var(--basic-blue);
}

.button-counter {
  background-color: var(--basic-light);
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
}

.button-counter:hover path {
  fill: var(--basic-black);
}

.button-counter:focus path {
  fill: var(--basic-blue);
}

.button-counter+input {
  width: 38px;
  height: 38px;
}

.search input {
  font: inherit;
  background-color: var(--basic-light);
  border: 2px solid var(--basic-light);
  outline: none;
}

.search input:hover {
  background-color: var(--basic-grey);
  border-color: var(--basic-grey);
}

.search input:focus {
  background-color: var(--basic-white);
  border-color: var(--basic-light-beige);
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  width: 458px;
  height: 58px;
  margin-top: 25px;
}

.search-button:hover {
  background-color: var(--basic-middle-blue);
}

.search-button:focus {
  color: var(--opacity-white);
  background-color: var(--basic-dark-blue);
  outline: none;
}

/* Main footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
  padding-left: 55px;
  padding-right: 55px;
  position: relative;
  margin-top: -120px;
  background-color: var(--basic-white);
  opacity: 0.9;
}

.tel {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.tel p {
  margin: 0px;
  padding-top: 21px;
  padding-bottom: 9px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.socials a {
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  position: relative;
}

.socials a:hover {
  background-color: var(--basic-middle-blue);
}

.socials a:focus {
  background-color: var(--basic-dark-blue);
  outline: none;
}

.socials a:focus path {
  opacity: 0.3;
}

.facebook a {
  margin-left: 6px;
}

.youtube a {
  margin-left: 6px;
}

.twitter svg {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.facebook svg {
  position: absolute;
  bottom: 13px;
  left: 17px;
}

.youtube svg {
  position: absolute;
  bottom: 16px;
  left: 13px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.copyright a {
  width: 115px;
  height: 41px;
  outline: none;
  margin-left: 8px;
  margin-bottom: 7px;
}

.copyright a:hover path {
  fill: var(--basic-blue);
}

.copyright a:focus path {
  fill: var(--focus-logo-academy);
}

/* Catalog */
/* Main-header */

.active {
  color: var(--basic-brown);
}

/* Main filter */

.main-filter {
  background-image: url("../img/background-catalog.jpg");
  background-repeat: no-repeat;
  color: var(--basic-white);
  width: 100%;
  min-height: 217px;
}

.main-filter-form {
  display: grid;
  grid-template-columns: 254px 300px 503px;
  margin-left: auto;
  padding-left: 70px;
  padding-right: 73px;
  padding-top: 4px;
}

.main-filter fieldset {
  border: none;
  padding: 0px;
  margin-top: 21px;
}

.main-filter legend {
  font-size: 16px;
  font-weight: bold;
}

.main-filter ul {
  padding: 0px;
}

.main-filter li {
  list-style: none;
  background-color: transparent;
  margin-top: 25px;
}

.main-filter input {
  text-align: center;
  background-color: transparent;
}

.main-filter input[type="text"]::-webkit-input-placeholder {
  color: var(--basic-white);
  text-transform: uppercase;
}

.main-filter input[type="text"]:-ms-input-placeholder {
  color: var(--basic-white);
  text-transform: uppercase;
}

.main-filter input[type="text"]::-ms-input-placeholder {
  color: var(--basic-white);
  text-transform: uppercase;
}

.main-filter input[type="text"]::placeholder {
  color: var(--basic-white);
  text-transform: uppercase;
}

.checkbox-area {
  padding-left: 0px;
}

.checkbox-area label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 41px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
}

.filter-input-checkbox:checked+label::before {
  background-image: none;
}

.filter-input-checkbox:checked+label::after {
  width: 27px;
  height: 23px;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../img/checkbox-on.svg");
}

.price-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 186px;
  margin-right: 0px;
}

.price-filter legend {
  width: 100%;
  margin-bottom: 11px;
}

.price-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 318px;
  min-height: 37px;
  position: relative;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  width: 2px;
  height: 22px;
  content: "";
  position: absolute;
  top: 5px;
  left: 158px;
  background-color: var(--basic-white);
}

.price-controls label:nth-child(1) {
  padding-left: 65px;
}

.price-controls label:nth-child(3) {
  padding-left: 48px;
}

.price-controls input {
  width: 83px;
  padding-left: 5px;
  text-align: start;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
  padding-top: 20px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: var(--opacity-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0px;
  border: 8px solid var(--basic-white);
  background-color: var(--range-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-toggle);
  cursor: pointer;
  box-sizing: content-box;
  outline: none;
}

.range-controls .toggle:hover {
  width: 4px;
  height: 4px;
  background-color: var(--range-toggle);
  border: 9px solid var(--basic-white);
}

.range-controls .toggle-max {
  left: 253px;
}

.price-filter input:nth-child(4) {
  width: 100%;
}

.price-filter .button-show {
  width: 137px;
  height: 36px;
  margin-left: 85px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: transparent;
  vertical-align: middle;
  border: 2px solid var(--basic-white);
  text-transform: uppercase;
  outline: none;
}

.price-filter button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Main catalog */

.sort-results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 86px;
  margin-left: 73px;
  padding-top: 30px;
  font-size: 12px;
  line-height: 18px;
  position: relative;
}

.sort-results span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-right: 46px;
  padding-bottom: 26px;
}

.sort-results label {
  margin-right: 40px;
  padding-bottom: 14px;
}

.sort {
  margin-bottom: 11px;
}

.sort .active {
  color: var(--basic-blue);
  border-bottom: none;
}

.sort a {
  margin-right: 30px;
  color: var(--opacity-black);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort a:focus {
  color: var(--basic-black);
  border-bottom: none;
  outline: none;
}

.direction>.desc {
  position: absolute;
  top: 38px;
  right: 73px;
  width: 11px;
  height: 10px;
}

.desc.active path {
  fill: var(--basic-blue);
}

.direction>.asc {
  position: absolute;
  top: 38px;
  right: 96px;
  width: 11px;
  height: 10px;
}

.direction a:focus {
  outline: none;
}

.desc:hover path {
  fill: var(--basic-black);
}

.desc:focus path {
  fill: var(--basic-blue);
}

.asc:hover path {
  fill: var(--basic-black);
}

.asc:focus path {
  fill: var(--basic-blue);
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0px;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 73px;
  padding-right: 73px;
  width: 100%;
  min-height: 150px;
  border: 1px solid var(--basic-light-beige);
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.results:nth-child(3) {
  border-bottom: 1px solid var(--basic-light-beige);
}

.catalog-item h3 {
  width: 100%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 0px;
  margin-top: 25px;
}

.catalog-item li {
  list-style: none;
}

.catalog-item img {
  object-fit: contain;
}

.catalog-item-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 260px;
  margin-left: 29px;
}

.catalog-item-details h3:hover {
  color: var(--basic-blue);
}

.catalog-item-details h3:focus {
  color: var(--opacity-black);
  outline: none;
}

.catalog-item-details p {
  color: var(--basic-dark);
  margin-top: 7px;
}

.catalog-item-details a {
  display: inline-block;
  color: var(--basic-white);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 27px;
  min-height: 27px;
}

.details a {
  background-color: var(--basic-blue);
  margin-right: 6px;
  width: 110px;
}

.details a:hover {
  background-color: var(--basic-middle-blue);
}

.details a:focus {
  color: var(--opacity-white);
  background-color: var(--basic-dark-blue);
  outline: none;
}

.book a {
  background-color: var(--basic-brown);
  width: 142px;
}

.book a:hover {
  background-color: var(--basic-middle-brown);
}

.book a:focus {
  color: var(--opacity-white);
  background-color: var(--basic-dark-brown);
  outline: none;
}

.rating-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  position: relative;
}

.star {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}

.star li {
  position: relative;
  width: 19px;
  height: 17px;
  top: 29px;
  right: -8px;
  margin-right: 5px;
  background-image: url("../img/star.svg");
}

.rating {
  width: 110px;
  height: 27px;
  margin-top: 75px;
  margin-bottom: 31px;
  text-align: center;
  line-height: 27px;
  vertical-align: middle;
  color: var(--basic-neutral);
  vertical-align: middle;
  background-color: var(--basic-light);
}

/* Footer */

.footer-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: var(--basic-white);
  position: relative;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-395px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
